html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}


#body {
    position: relative;
    margin: 0 0 0 0;
    padding: 0;
    /*background-color: rgba(200, 200, 200, 0.3);*/
}

.overlaid-div{
    position : relative;
}

#search {
    /*padding: 2px 5px 2px 5px;*/
    padding: 0 0 0 0;
    padding: 1px 1px 2px 5px;
    background-color: #cccccc;
}

#searchbar {
    position : absolute;
    /*margin: 5px 5px 5px 5px;*/
    display: block;
    top: 10px;
    left: 10px;
}

#statzone{
    background-color: rgba(200, 200, 200, 0.95);
    /*background-color: rgba(0, 0, 0, 0.95);*/
    /*border: solid 1px purple;*/
    width: 287px;
    height: calc(100vh - 60px);
    position : absolute;
    top: calc(10px + 27px + 10px);
    left: 10px;

}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #002828;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.overlaid-div{
    font-family: 'Slabo 27px', serif;
}

#navsearch{
    width:100%;
    height: 37px;
}

#navtitle{
    width:100%;
    margin-top: 10px;
    padding: 5px;
}

#statzone a {
    /*padding: 8px 8px 8px 32px;*/
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s
}

#statzone a:hover, .offcanvas a:focus{
    color: #2fa1d6;
}

.bardiv{
    position: absolute;
    height: calc(100% - 155px - 10px); /*10px margin*/
    overflow:auto;
}

#navchart{
    width:100%;
    height: calc(100% - 40px - 10px);
    position: absolute;
    /*border: solid 0.5px red;*/
    /*background-color: #cccccc;*/
    /*overflow:auto;*/
}

#barchart rect{
    fill: white;
    opacity: 0.8;
}

#barchart text{
    fill: blackR;
}

/*#barchart div {*/
    /*font: 10px sans-serif;*/
    /*background-color: steelblue;*/
    /*text-align: right;*/
    /*padding: 3px;*/
    /*margin: 1px;*/
    /*color: white;*/
/*}*/

polyline{
    opacity: 1;
    stroke: white;
    stroke-width: 1px;
    fill: none;
}

.labels text {
    fill: white;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 0;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}